/***** GENERAL *****/
* {
    box-sizing: border-box;
}

/***** HEADER *****/
header {
    background: #4d4d4d;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/***** SEARCH SECTION *****/
#searchbar {
    background: #f2f2f2;
    padding: 10px;
}

h4 {
    margin-top: 5px;
}

#search-input {
    margin-top: 5px;
}

.btn-light {
    margin-top: 5px;
}

/***** CURRENT WEATHER SECTION *****/
#current-weather {
    margin-top: 10px;
    padding: 10px;
}

#date {
    margin: auto 10px;
    font-size: 24px;
}

.uv-low {
    background: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.uv-mod {
    background: yellow;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.uv-high {
    background: orange;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.uv-ext {
    background: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

/***** FORECAST SECTION *****/
#forecast {
    margin-top: 20px;
}

h3 {
    font-size: 24px;
}

.card {
    margin: auto 10px;
    border: none;
}

.card-body {
    background: #3393FF;
    border-radius: 5px;
}

.card-title {
    color: #fff;
}

.card-text {
    color: #fff;
    font-size: 12px;
}